/* 가운데정렬만 하는 용도 */
.wrapper {
    /* box-shadow: inset 0px 0px 10px red; */
    /* 크기를주자 */
    /* width값 주면 오른쪽에 사용가능한 공간이 나오고 margin auto주면 중간 정렬된다. */
    /* height는 초기값 auto이므로 안주는게 좋다 처음에 */
    width: 300 px;
    /* 상하단 마진 주고 r,l는 자동정렬 */
    margin: 100px auto;
}
/* ----------------------------------------- */
body {
    background-image: url(../images/bg.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
/* 이미지하단에 빈공간 삭제 유튜브 참고하기 */
img {
    vertical-align: top;
}

h1, p{
    margin: initial;
}

.card {
    color: white;
    /* card가 wrapper 밖으로 나가면 가로로 가득차게됨 그 외에 너무 가로로 커지는 경우를 대비하여 width의 max값을 주는것 나쁘지않다. */
    max-width: 500px;

}
.card-cover {
    /* img는 남는공간이 다음 컨텐츠 소유 */
    /* box-shadow: inset 0 0 10px blue; */
    /* 이미지가 밑에 컨텐츠에 맞게 이동 width:100%는 화질이 깨질수 있어서 이 코드를 더 추천
    text가 기본요소(inline)인데 display:block주면서 한줄 공간 차지 하고 남는 공간도 margin-left,right auto등으로 옮기면서 사용가능*/
    margin: 0 auto;
    display: block;
}

/* 잔디는 decoration. contents로 보기 어려움 배경이미지로 주고  padding으로 위치 맞추기*/
.card-contents {
    border-radius: 10px 10px 30px 30px;
    /* box-shadow: inset 0 0 10px lime; */
    background-color: #93572e;
    background-image: url(../images/green.png);
    /* 가로로 길어지는 컨텐츠에 맞출 수 있게 */
    background-repeat: repeat-x;
    color: white;
    padding: 64px 20px 40px 20px;
    /* !!!!!!!!글내용이 길어질수도 있고 엄청 많은 내용의 컨텐츠가 와도 적용될 수 있도록 height에 auto 지정하면 행복하다!!!!!!! */
    height: auto;
    /* box-shadow는 공간차지를 하지않아서 이럴경우에는 다음 오는 컨텐츠가 가려질 수 있으므로 공간을 차지하는 border-bottom 사용하는게 직관적임.  */
    border-bottom: 10px solid #4a260b;
    box-shadow: inset 0 -2px 20px rgb(0 0 0 /.6) ;
}

.card-contents h1 {
    margin-bottom: 10px;
}
.card-contents p{
    color: antiquewhite;
    /* 다음 컨텐츠가 올때 구분할수있도록 넣어주면 좋은 코드로 볼 수 있다. */
    margin-bottom: 1.2em;
}

/* 식판만찬론 공부해보기 종찬님 코드주심 */