@font-face {
    font-family: 'MangoDdobak-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoDdobak-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'KCC-Hanbit';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ownglyph_ryuttung-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_ryuttung-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'KCC-Hanbit';
}
body {
    background-color: #FEFAE0;
}
.start h1{
    font-family: 'MangoDdobak-B';
    font-size: 40px;
    color: #806449;
}
.start button {
    width: 450px;
    height: 50px;
    margin: 0 auto;
    border-radius: 20px;
    background-color: #5F6F52;
    border: none;
    font-family: 'KCC-Hanbit';
    transition: background-color 0.3s ease;
}

.start button:hover {
    background-color: #aec591;
    color: #242323;
}

article {
    display: flex;
    flex-direction: column;
}

.question {
    display:none;
    color: #66503b;
    h2 {
        font-size: 30px;
    }
}
.progress-bar {
    background-color: #f0a35b;
    transition: width 0.8s ease;
}
#A, #B{
    font-size: 20px;
    height: 70px;
    background-color: #75925d; 
    border: none; 
    border-radius: 50px;
    color: #fff; 
    transition : background-color 0.6s ease, color 0.5s ease, border-radius 0.6s ease;
}
#A:hover, #B:hover {
    background-color: #acc597;
    border: none;
    color: #242424;
}

.result {
    display: none;
    h1 {
        font-family: 'MangoDdobak-B';
        color: #66503b;
        margin: -20px;
    }
    h3 {
        color: #e48a40;
    }
}
#animal {
    font-size: 45px;
    margin-top: 0;
    color: #6f9159;
}
#explain {
    font-family: 'Ownglyph_ryuttung-Rg';
    font-size: 35px;
    margin-top :0;
    color: #242323;
}
#img {
    width: 500px;
    height: 400px;
    margin: 0 auto;
    box-shadow: 10px 20px 40px rgba(82, 83, 75, 0.8);
}

.share {
    margin: 30px auto;
}

.kakao_ad{
    width: 300px;
    margin: 0 auto;
}

.banner {
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
}

.banner-img {
    width: 300px;
    height: 500px;
}