@font-face {
    font-family: 'MangoDdobak-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoDdobak-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'KCC-Hanbit';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'MangoDdobak-B';
}
body {
    background-color: #FEFAE0;
}
.start h1{
    font-weight: bold;
    font-size: 25px;
    color: #806449;
}
.start button {
    width: 500px;
    height: 50px;
    margin: 0 auto;
    background-color: #5F6F52;
    border: none;
    font-family: 'KCC-Hanbit';
}

article {
    display: flex;
    flex-direction: column;
}

.question {
    display:none;
}

.result {
    display: none;
}

img {
    width: 400px;
    height: 300px;
    margin: 0 auto;
}

.share {
    margin: 30px auto;
}

.kakao_ad{
    width: 300px;
    margin: 0 auto;
}

.banner {
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
}

.banner-img {
    width: 300px;
}